@model CategoryModel

<div>

    <a asp-action="Index" asp-controller="Category" asp-route-categoryId="@Model.Id">
        @Model!.Name
    </a>
    @{
        DeleteCategoryViewModel deleteModel = new DeleteCategoryViewModel
            {
                CategoryId = @Model.Id!.Value,
                BaseCategoryId = @Model.BaseCategoryId,
                FromHome = (bool)@ViewBag.FromHome
            };
    }
    <form method="get" asp-action="Delete" asp-controller="Category" >
        <input asp-for="@deleteModel.CategoryId" hidden />
        <input asp-for="@deleteModel.BaseCategoryId" hidden />
        <input asp-for="@deleteModel.FromHome" hidden />
        <input type="submit" value="Delete" />
    </form>

</div>