@model ContentViewModel
@{
    ViewData["Title"] = @Model!.Category.Name;
    ViewBag.FromHome = false;
}

<h1>@Model.Category.Name</h1>

@if (@Model.Parent == null)
{
    <a asp-action="Index" asp-controller="Home">
        <p>Back</p>
    </a>
}
else
{
    <a asp-action="Index" asp-controller="Content" asp-route-categoryId="@Model.Parent.Id" >
        <p>Back</p>
    </a>
}

@foreach (var category in @Model.Categories)
{
    <partial name="../Partials/Category.cshtml" model="@category" />
}

<partial name="../Partials/CreateCategoryForm.cshtml" model="@Model.CreateCategoryModel" />

@foreach (var todo in @Model.Todos)
{
    <partial name="../Partials/Todo.cshtml" model="@todo" />
}

<button>Create New Todo</button>
